.cryptoIcon{width: 20px; height: 20px; background-image: url('https://i-invdn-com.akamaized.net/crypto_icons/v_128056_cryptoIcon100.png'); background-repeat: no-repeat;display: inline-block;background-position: 0 0; }
.c_bitcoin { background-position: -0px -20px; }
.c_ethereum { background-position: -0px -40px; }
.c_ripple { background-position: -0px -60px; }
.c_litecoin { background-position: -0px -80px; }
.c_bitcoin-cash { background-position: -0px -100px; }
.c_eos { background-position: -0px -120px; }
.c_binance-coin { background-position: -0px -140px; }
.c_stellar { background-position: -0px -160px; }
.c_cardano { background-position: -0px -180px; }
.c_tether { background-position: -0px -200px; }
.c_tron { background-position: -0px -220px; }
.c_bitcoin-sv { background-position: -0px -240px; }
.c_monero { background-position: -0px -260px; }
.c_dash { background-position: -0px -280px; }
.c_iota { background-position: -0px -300px; }
.c_neo { background-position: -0px -320px; }
.c_ontology { background-position: -0px -340px; }
.c_maker { background-position: -0px -360px; }
.c_ethereum-classic { background-position: -0px -380px; }
.c_tezos { background-position: -0px -400px; }
.c_nem { background-position: -0px -420px; }
.c_zcash { background-position: -0px -440px; }
.c_vechain { background-position: -0px -460px; }
.c_dogecoin { background-position: -0px -480px; }
.c_basic-attention-token { background-position: -0px -500px; }
.c_omisego { background-position: -0px -520px; }
.c_bitcoin-gold { background-position: -0px -540px; }
.c_waves { background-position: -0px -560px; }
.c_qtum { background-position: -0px -580px; }
.c_usd-coin { background-position: -0px -600px; }
.c_lisk { background-position: -0px -620px; }
.c_decred { background-position: -0px -640px; }
.c_augur { background-position: -0px -660px; }
.c_crypto-com-chain { background-position: -0px -680px; }
.c_ravencoin { background-position: -0px -700px; }
.c_zilliqa { background-position: -0px -720px; }
.c_0x { background-position: -0px -740px; }
.c_icon { background-position: -0px -760px; }
.c_iostoken { background-position: -0px -780px; }
.c_chainlink { background-position: -0px -800px; }
.c_trueusd { background-position: -0px -820px; }
.c_bitshares { background-position: -0px -840px; }
.c_bitcoin-diamond { background-position: -0px -860px; }
.c_nano { background-position: -0px -880px; }
.c_bytecoin-bcn { background-position: -0px -900px; }
.c_holo { background-position: -0px -920px; }
.c_aeternity { background-position: -0px -940px; }
.c_digibyte { background-position: -0px -960px; }
.c_paragon { background-position: -0px -980px; }
.c_steem { background-position: -0px -1000px; }
.c_bytom { background-position: -0px -1020px; }
.c_pundi-x { background-position: -0px -1040px; }
.c_maximine-coin { background-position: -0px -1060px; }
.c_verge { background-position: -0px -1080px; }
.c_siacoin { background-position: -0px -1100px; }
.c_komodo { background-position: -0px -1120px; }
.c_huobi-token { background-position: -0px -1140px; }
.c_bittorrent { background-position: -0px -1160px; }
.c_kucoin-shares { background-position: -0px -1180px; }
.c_enjin-coin { background-position: -0px -1200px; }
.c_nasdacoin { background-position: -0px -1220px; }
.c_stratis { background-position: -0px -1240px; }
.c_eternal-token { background-position: -0px -1260px; }
.c_project-pai { background-position: -0px -1280px; }
.c_paxos-standard-token { background-position: -0px -1300px; }
.c_status { background-position: -0px -1320px; }
.c_theta { background-position: -0px -1340px; }
.c_aurora { background-position: -0px -1360px; }
.c_waltonchain { background-position: -0px -1380px; }
.c_golem-network-tokens { background-position: -0px -1400px; }
.c_dai { background-position: -0px -1420px; }
.c_loopring { background-position: -0px -1440px; }
.c_ardor { background-position: -0px -1460px; }
.c_mixin { background-position: -0px -1480px; }
.c_populous { background-position: -0px -1500px; }
.c_namecoin { background-position: -0px -1520px; }
.c_abbc-coin { background-position: -0px -1540px; }
.c_factom { background-position: -0px -1560px; }
.c_digitex-futures { background-position: -0px -1580px; }
.c_insight-chain { background-position: -0px -1600px; }
.c_ark { background-position: -0px -1620px; }
.c_cryptonex { background-position: -0px -1640px; }
.c_revain { background-position: -0px -1660px; }
.c_gxchain { background-position: -0px -1680px; }
.c_hypercash { background-position: -0px -1700px; }
.c_wax { background-position: -0px -1720px; }
.c_qubitica { background-position: -0px -1740px; }
.c_aion { background-position: -0px -1760px; }
.c_nuls { background-position: -0px -1780px; }
.c_decentraland { background-position: -0px -1800px; }
.c_gemini-dollar { background-position: -0px -1820px; }
.c_thorecoin { background-position: -0px -1840px; }
.c_elastos { background-position: -0px -1860px; }
.c_repo { background-position: -0px -1880px; }
.c_zcoin { background-position: -0px -1900px; }
.c_maidsafecoin { background-position: -0px -1920px; }
.c_aelf { background-position: -0px -1940px; }
.c_loom-network { background-position: -0px -1960px; }
.c_vestchain { background-position: -0px -1980px; }
.c_crypto-com { background-position: -0px -2000px; }
