.ftq_border{border:solid 1px red;}
.ftq_fLeft{float:left;}
.ftq_fRight{float:right;}

.ftq_vertical{vertical-align:middle;}

.ftq_arial_11{
	font:11px arial; color:#000000;
}

.ftq_arial_11_white{
	font:11px arial; color:white;
}

.ftq_arial_11_white_b{
	font:bold 11px arial; color:white;
	text-decoration:none;
}

.ftq_arial_11_blue_b{
	font:bold 11px arial; color:#0059b0;
	text-decoration:none;
}

.ftq_arial_11_green{
	font:11px arial; color:#2a8215;
}

.ftq_arial_11_green_b{
	font:bold 11px arial; color:#2a8215;
}

.ftq_arial_11_red{
	font:11px arial; color:#db0001;
}

.ftq_arial_11_red_b{
	font:bold 11px arial; color:#db0001;
}

.ftqtr1, .ftq_tr_1{height:18px;text-align:center;background-color:#F6F6F6;}
.ftqtr2, .ftq_tr_2{height:18px;text-align:center;background-color:#FFFFFF;}

.ftqbb, .ftq_bottom_border{border-bottom:solid 1px #E4E4E4;}

.ftq_right_blue_border{border-right:solid 1px #c0d7f3;}

.ftqw1, .ftq_width_1{width:84px;height:18px;line-height:18px;text-align:left;padding:0px 10px 0px 0px;}
.ftqw2, .ftq_width_2{text-align:right;padding-right:3px;height:18px;line-height:18px;overflow:hidden;}
.ftqw3, .ftq_width_3{width:15px;height:18px;line-height:18px;padding:0 2px;}
.ftq_width_4{width:50px;height:18px;line-height:18px;overflow:hidden;}
.ftq_width_5{text-align:center;padding-right:0px;height:18px;line-height:18px;overflow:hidden;}

.ftqh, .ftqhl, .ftqhr, .ftq_header, .ftq_header_left, .ftq_header_right {border-top:1px solid #8C8C8C;border-bottom:1px solid #8C8C8C;border-right:1px solid #BFBFBF;border-left:1px solid #8C8C8C;line-height:23px;}
.ftqhl, .ftq_header_left{border-left:1px solid #8C8C8C;}
.ftqhr, .ftq_header_right{border-right:1px solid #8C8C8C;}

.ftqsl, .ftq_small_line{line-height:18px;}

.ftqrl, .ftq_row_left {border-left:1px solid #E4E4E4;}
.ftqrr, .ftq_row_right {border-right:1px solid #E4E4E4;}

.ftq_1{width:554px;overflow:hidden;}
.ftq_2{padding-top:2px;}
.ftq_3{line-height:12px;clear:both;}
.ftq_4{border:solid 0px #cbcbcb;}
.ftq_5{background:url('http://c1308342.r42.cf0.rackcdn.com/cross_rates/bg_stripe_grey.gif') repeat-x;height:23px;text-align:center;}
.ftq_5_1{background:url('http://c1308342.r42.cf0.rackcdn.com/cross_rates/bg_stripe_grey.gif') repeat-x;}
.ftq_5_2{background:url('http://c1308342.r42.cf0.rackcdn.com/cross_rates/bg_stripe_1.gif') repeat-x;height:18px;text-align:center;}
.ftq_5_3{background:url('http://c1308342.r42.cf0.rackcdn.com/header_images/bg_gray_simple.gif') repeat-x;height:18px;text-align:center;}

.ftq_6{#padding-top:3px;}

.red-background {
	background-color:#FFE2E2;
}
.green-background {
	background-color:#B7F4C2;
}
.red-font {
	color:#DC0001;
}
.white-font {
	color:#fff;
}
.green-font {
	color:#2A8215;
}
.fix-margin {
	margin-left:5px;
}
#column-content .hdr {
	margin:0 0 5px;
}
.cross-rates-hdr {
	background:transparent url(http://c1308342.r42.cf0.rackcdn.com/cross_rates/blue-bg.jpg) repeat-x scroll left top;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 0 5px;
	padding:0px;
	width:520px;
}
.cross-rates-hdr li {
	background:transparent url(http://c1308342.r42.cf0.rackcdn.com/cross_rates/hdr-right.jpg) no-repeat scroll right top;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	padding:4px 0;
	width:532px;
}
.cross-rates-hdr p {
	background:transparent url(http://c1308342.r42.cf0.rackcdn.com/cross_rates/white-arrow.gif) no-repeat scroll left top;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	padding:0 0 0 16px;
	margin:0px;
}

.add div{
	text-align:right;
	padding-right:10px;
	margin-bottom:5px;
}

.add img {
	border:0px;
	padding:0px;
}
.curr-drop-down div {
	padding-left:10px;	
}
.ftqac {text-align:center;}